*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets\fonts\Montserrat-Bold.ttf') format('truetype');
    
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets\fonts\Montserrat-Medium.ttf') format('truetype');
  
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets\fonts\Montserrat-Regular.ttf') format('truetype');
    
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.container {
    margin: auto;
    max-width: 1280px;
    height: 100vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.header {
    width: 100%;
    height: 60px;
    box-shadow: 0 1px 3px 0 rgba(11, 12, 13, 0.16), 0 0 1px 0 rgba(11, 12, 13, 0.24);
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-logo {
    width: 110px;
    height: 24px;
    margin-left: 64px;
}

.header-notes {
    margin-right: 64px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.header-notes-img {
    height: 24px;
    width: 24px;
}

.header-notes-text {
    width: 140px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: right;
    color: #000;
    
}

.header-notes-count {
    font-weight: 700;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    }

.note-form {
    min-height: 230px;
    max-width: 1150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 4px;
    padding: 24px;
    box-shadow: 0 8px 12px 0 rgba(11, 12, 13, 0.08), 0 16px 24px 0 rgba(11, 12, 13, 0.04), 0 1px 2px 0 rgba(11, 12, 13, 0.08);
    background: #fff;
    margin: 24px;
}

.title-section {
    display: flex;
    flex-direction: column;
    height: 60px;
    width: 345px;
    
}

#note-title {
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    padding: 6px 12px;
    width: 344px;
    height: 36px;
}

label[for="note-title"] {
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    color: #919191;
}

.description-section {
    max-width: 1104px;
    width: 100%;
    min-height: 108px;
    display: flex;
    gap: 24px;
    
}

label[for="note-description"] {
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    color: #919191;
}

#note-description{
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    padding: 6px 12px;
    max-width: 848px;
    width: 100%;
    height: 84px;
    display: flex;
}
#note-description::placeholder {
    height: 24px;
    width: 824px;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #919191;
    padding: 6px 12px 54px 12px;
}

.description-panel {
    width: 848px;
    height: 108px;
    display: flex;
    flex-direction: column;
    
}

.note-panel {
    width: 232px;
    height: 108px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.fieldset {
    height: 60px;
    width: 212px;
    display: flex;
    flex-direction: column;
}

.label {
    height: 24px;
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    color: #919191;
}

fieldset {
    all: unset;
  }
   
  legend {
    all: unset
  }
   
  .radio-list {
    display: flex;
    gap: 14px;
    list-style: none;
    padding: 0;
    width: 100%;
    height: 36px;
    margin: 0;
  }
      
  .radio {
    appearance: none;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: green;
  }
   
  .radio[value="red"] {
    background-color: #F37D7D;
  }
   
  .radio[value="green"] {
    background-color: #C2F37D;
  }
   
  .radio[value="blue"] {
    background-color: #7DE1F3;
  }
   
  .radio[value="yellow"] {
    background-color: #F3DB7D;
  }
   
  .radio[value="purple"] {
    background-color: #E77DF3;
  }
   
  .radio:checked {
    border-color: white;
    box-shadow: 0 0 0 3px white, /* Внутренняя обводка для создания промежутка */
    0 0 0 4.5px #007BFF; /* Внешняя обводка */
  }

button#note-add {
    border: none;
    border-radius: 10px;
    padding: 6px 24px;
    width: 232px;
    height: 100%;
    background: #457cdc;
    display: flex;
    gap: 8px;
    justify-content: center;
    padding: 6px 24px 6px 24px; 
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    cursor: pointer;
}

.box {
    height: auto;
    max-width: 1152px;    
}

.favorite-checkbox{
    display: flex;
    justify-content: end;
    
} 

.filter-box {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #000;
}

.notes-list {
    max-width: 1152px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 0;
}

.notes-list h2 {
    height: 48px;
    width: 824px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #000;
    margin: auto;
}

.note-frame {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 12px 0px 0px 0px;
    width: 368px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(11, 12, 13, 0.08), 0 8px 16px 0 rgba(11, 12, 13, 0.04), 0 1px 2px 0 rgba(11, 12, 13, 0.08);
}

.note-frame.green {
    background: #C2F37D;
}
.note-frame.blue {
    background: #7DE1F3;
}
.note-frame.red {
    background: #F37D7D;
}
.note-frame.yellow {
    background: #C2F37D;
}.note-frame.purple {
    background: #E77DF3;
}
.note-frame-header {
    width: 344px;
    height: 24px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

h2.note-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    
    color: #292515;
}

p.note-description {
    padding: 12px;
    width: 368px;
    height: auto;
    background: #fff;
}

.note-icons {
    width: 44px;
    height: 16px;
    display: flex;
    gap: 12px;
}

.heart-inactive,
.trash {
    height: 16px;
    width: 16px;
}