*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.container {
    margin: auto;
    max-width: 1280px;
    max-height: 720px;
    border: 2px solid rgb(9, 225, 13); 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.header {
    width: 100%;
    height: 60px;
    box-shadow: 0 1px 3px 0 rgba(11, 12, 13, 0.16), 0 0 1px 0 rgba(11, 12, 13, 0.24);
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid red;
}

.header-logo {
    width: 110px;
    height: 24px;
    margin-left: 64px;
}

.header-notes {
    margin-right: 64px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.header-notes-img {
    height: 24px;
    width: 24px;
}

.header-notes-text {
    width: 140px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: right;
    color: #000;
    
}
.header-notes-count {
    font-weight: 700;
}

#main {
    display: flex;
    flex-direction: column;
}

.note-form {
    max-height: 230px;
    max-width: 1150px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 1px solid red;
    border-radius: 4px;
    padding: 24px;
    width: 1152px;
    height: 228px;
    box-shadow: 0 8px 12px 0 rgba(11, 12, 13, 0.08), 0 16px 24px 0 rgba(11, 12, 13, 0.04), 0 1px 2px 0 rgba(11, 12, 13, 0.08);
    background: #fff;
}

.title-section {
    display: flex;
    flex-direction: column;
    height: 60px;
    width: 345px;
    
}

#note-title {
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    padding: 6px 12px;
    width: 344px;
    height: 36px;
}

label[for="note-title"] {
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    color: #919191;
}

.description-section {
    width: 1104px;
    height: 108px;
    display: flex;
    gap: 24px;
}

label[for="note-description"] {
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    color: #919191;
}

#note-description{
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    padding: 6px 12px;
    width: 848px;
    height: 84px;
    display: flex;
}
#note-description::placeholder {
    height: 24px;
    width: 824px;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #919191;
    padding: 6px 12px 54px 12px;
}

.description-panel {
    width: 848px;
    height: 108px;
    display: flex;
    flex-direction: column;
}

.note-panel {
    width: 232px;
    height: 108px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.choice-color {
    width: 212px;
    height: 60px;
    display: flex;
    flex-direction: column;
}

.choice-color-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    color: #919191;
}

.choice-color-palette {
    list-style: none;/* Убираем стандартные маркеры */
    padding: 0;
    margin: 0;
    display: flex;
    gap: 8px;/* Промежуток между элементами */
}



.choice-color-palette div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px; /* Размер квадрата */
    height: 36px; /* Размер квадрата */
  }

.choice-color-palette li {
    width: 24px;  /* Диаметр круга */
    height: 24px;  /* Диаметр круга */
    background-color: #C2F37D;  /* Цвет фона круга */
    border-radius: 30px; /* Делаем элемент кругом */ 
}
  
#note-add {
    border: none;
    border-radius: 10px;
    padding: 6px 24px;
    width: 232px;
    height: 36px;
    background: #457cdc;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    display: flex;
    gap: 8px;
    justify-content: center;
    padding: 6px 24px 6px 24px;
}

.box {
    padding-bottom: 222px;
    padding-top: 138px;
}
.filter-box {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #000;
}
